<main id="page" class="main grid-container">
    <!-- start: #single -->
    <div id="single" class="content no-sidebar no-thumb">



        <!-- start: .epcl-page-wrapper -->
        <div class="epcl-page-wrapper clearfix row">

            <!-- start: .left-content -->
            <div class="left-content grid-70 np-mobile">
                <article class="main-article bg-box post-1053 page type-page status-publish hentry">

                    <section class="post-content">

                        <h1 class="title large bold absolute bordered small-border-radius">My account</h1>

                        <div class="text">
                            <div class="woocommerce">
                                <div class="woocommerce-notices-wrapper"></div>

                                <h2>Login</h2>

                                <form  action="/admin" class="woocommerce-form woocommerce-form-login login" method="post">


                                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                        <label for="username">Username or email address&nbsp;<span
                                                class="required">*</span></label>
                                        <input type="text" class="woocommerce-Input woocommerce-Input--text input-text"
                                            name="username" id="username" autocomplete="username" value="" placeholder="Enter Your Usernme Or Email....">
                                    </p>
                                    <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                        <label for="password">Password&nbsp;<span class="required">*</span></label>
                                        <input class="woocommerce-Input woocommerce-Input--text input-text"
                                            type="password" name="password" id="password"
                                            autocomplete="current-password">
                                    </p>


                                    <p class="form-row">
                                        <label
                                            class="woocommerce-form__label woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme">
                                            <input class="woocommerce-form__input woocommerce-form__input-checkbox"
                                                name="rememberme" type="checkbox" id="rememberme" value="forever">
                                            <span>Remember me</span>
                                        </label>
                                        <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce"
                                            value="c5df1d4d36"><input type="hidden" name="_wp_http_referer"
                                            value="/wordpress/groovy/my-account/"> <button type="submit"
                                            class="woocommerce-button button woocommerce-form-login__submit"
                                            name="login" value="Log in">Log in</button>
                                    </p>
                                    <p class="woocommerce-LostPassword lost_password">
                                        <a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/my-account/lost-password/">Lost
                                            your password?</a>
                                    </p>


                                </form>


                            </div>
                        </div>

                        <div class="clear"></div>



                    </section>

                </article>


            </div>
            <!-- end: .left-content -->


        </div>
        <!-- end: .epcl-page-wrapper -->

    </div>
    <!-- end: #single -->
</main>