<main id="archives" class="main"> <!-- start: .content-wrapper -->
    <div class="content-wrapper ">
        <div class="grid-container"> <!-- start: .author -->
            <section id="author" class="author section bg-box  with-avatar grid-container grid-medium">
                <div class="single-wrapper">
                    <div class="flex"> <a href="https://themes.estudiopatagon.com/wordpress/groovy/author/admin/"
                            class="author-avatar shadow-effect epcl-loader loaded"> <span
                                class="screen-reader-text">Jonathan Doe</span> <span
                                class="author-image cover lazy loaded"
                                style="background-image: url(&quot;https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2023/01/avatar-1.jpg&quot;);"></span>
                        </a>
                        <div class="right">
                            <h4 class="title author-name underline-effect"> Jonathan Doe</h4>
                            <p class="position">Founder &amp; Editor</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="info">
                        <p>Hello! My name is Jonathan Doe working from Chile. I create some Ghost and Wordpress themes
                            for differents markets, also, i offer live support via our ticket system.</p>
                        <div class="social"> <a href="https://twitter.com/wordpress"
                                class="twitter tooltip tooltipstered" target="_blank" rel="nofollow noopener"><i
                                    class="fa fa-twitter"></i><span class="screen-reader-text">Follow me on
                                    Twitter</span></a> <a href="http://www.facebook.com/estudiopatagon"
                                class="facebook tooltip tooltipstered" target="_blank" rel="nofollow noopener"><i
                                    class="fa fa-facebook"></i><span class="screen-reader-text">Follow me on
                                    Facebook</span></a> <a href="https://themes.estudiopatagon.com/wordpress/groovy"
                                class="website tooltip tooltipstered" target="_blank" rel="nofollow noopener"><i
                                    class="fa fa-globe"></i><span class="screen-reader-text">Website</span></a></div>
                    </div>
                </div>
            </section> <!-- end: .author -->
            <div class="clear"></div>
        </div> <!-- start: .grid-container -->
        <div class="grid-container">
            <div class="row module-wrapper "> <!-- start: .content-wrapper -->
                <div class="content-wrapper classic classic-sidebar " id="epcl-classic-sidebar-1">
                    <!-- start: .center -->
                    <div class="center left-content grid-70"> <!-- start: .articles -->
                        <div class="articles classic">
                            <article
                                class="epcl-flex bg-box default classic-large grid-100 tablet-grid-100 index-4 post-style-classic-image odd primary-cat-4 post-89 post type-post status-publish format-gallery has-post-thumbnail hentry category-travel post_format-post-format-gallery">
                                <div class="post-format-wrapper">
                                    <!-- In case of loop return just the title and meta info -->
                                    <div class="post-format-gallery ">
                                        <div class="slick-slider slick-initialized" data-rtl=""><button
                                                class="slick-prev slick-arrow" aria-label="Previous" type="button"
                                                style="">Previous</button>
                                            <div class="slick-list draggable">
                                                <div class="slick-track" style="opacity: 1; width: 1479px;">
                                                    <div class="slick-slide slick-current slick-active"
                                                        data-slick-index="0" aria-hidden="false"
                                                        style="width: 493px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">
                                                        <div>
                                                            <div class="item epcl-loader loaded"
                                                                style="width: 100%; display: inline-block;"> <span
                                                                    class="thumb fullimage cover lazy loaded"
                                                                    style="background-image: url(&quot;https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/hello-summer-tag-with-airplanes-table.jpg&quot;);"></span>
                                                                <a href="https://themes.estudiopatagon.com/wordpress/groovy/5-spanish-cities-that-will-make-you-fall-in-love-with-architecture/"
                                                                    class="full-link" tabindex="0"><span
                                                                        class="screen-reader-text">5 Spanish Cities that
                                                                        will make you fall in Love</span></a></div>
                                                        </div>
                                                    </div>
                                                    <div class="slick-slide" data-slick-index="1" aria-hidden="true"
                                                        style="width: 493px; position: relative; left: -493px; top: 0px; z-index: 998; opacity: 0;"
                                                        tabindex="-1">
                                                        <div>
                                                            <div class="item epcl-loader loaded"
                                                                style="width: 100%; display: inline-block;"> <span
                                                                    class="thumb fullimage cover lazy loaded"
                                                                    style="background-image: url(&quot;https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/08/1920-love-to-drink-coffee-to-increase-energy-1.jpg&quot;);"></span>
                                                                <a href="https://themes.estudiopatagon.com/wordpress/groovy/5-spanish-cities-that-will-make-you-fall-in-love-with-architecture/"
                                                                    class="full-link" tabindex="-1"><span
                                                                        class="screen-reader-text">5 Spanish Cities that
                                                                        will make you fall in Love</span></a></div>
                                                        </div>
                                                    </div>
                                                    <div class="slick-slide" data-slick-index="2" aria-hidden="true"
                                                        style="width: 493px; position: relative; left: -986px; top: 0px; z-index: 998; opacity: 0;"
                                                        tabindex="-1">
                                                        <div>
                                                            <div class="item epcl-loader loaded"
                                                                style="width: 100%; display: inline-block;"> <span
                                                                    class="thumb fullimage cover lazy loaded"
                                                                    style="background-image: url(&quot;https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/simple-creative-idea-drawn-paper-light-bulbs-tic-tac-toe-grid-made-crayons-pastel-background_63762-9110.jpg&quot;);"></span>
                                                                <a href="https://themes.estudiopatagon.com/wordpress/groovy/5-spanish-cities-that-will-make-you-fall-in-love-with-architecture/"
                                                                    class="full-link" tabindex="-1"><span
                                                                        class="screen-reader-text">5 Spanish Cities that
                                                                        will make you fall in Love</span></a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><button class="slick-next slick-arrow" aria-label="Next" type="button"
                                                style="">Next</button>
                                        </div>
                                    </div>
                                    <div class="info below-image textcenter">
                                        <h1 class="main-title title underline-effect large"><a
                                                href="https://themes.estudiopatagon.com/wordpress/groovy/5-spanish-cities-that-will-make-you-fall-in-love-with-architecture/">5
                                                Spanish Cities that will make you fall in Love</a></h1>
                                    </div>
                                    <div class="tags absolute"> <a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/category/music/"
                                            class="tag-link-4"><svg>
                                                <use xlink:href="#tag-decoration"></use>
                                            </svg>Music</a></div>
                                    <div class="meta absolute"> <a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/5-spanish-cities-that-will-make-you-fall-in-love-with-architecture/#show-comments"
                                            class="comments meta-info icon mobile tooltip tooltipstered"
                                            aria-label="0 Comments"> <svg>
                                                <use xlink:href="#comments-icon"></use>
                                            </svg> <span class="comment-count hidden">0</span> </a></div>
                                </div>
                                <div class="info">
                                    <div class="post-excerpt">
                                        <p>Spain is home to some of the most stunning architecture in Europe, known
                                            throughout the world for its distinguishable form and famous historical
                                            monuments. With influences from the Romans to…</p>
                                        <div class="clear"></div>
                                    </div>
                                    <footer class="bottom">
                                        <div class="meta bottom"> <a
                                                href="https://themes.estudiopatagon.com/wordpress/groovy/5-spanish-cities-that-will-make-you-fall-in-love-with-architecture/"
                                                class="continue-reading epcl-button white active">Continue Reading <svg>
                                                    <use xlink:href="#right-arrow"></use>
                                                </svg></a> <!-- start: .meta -->
                                            <div class="meta"> <time class="meta-info" datetime="2019-07-25">July 25,
                                                    2019</time>
                                                <!--<div class="min-read meta-info hide-on-desktop-sm"><span class="count">1</span> Min Read</div> -->
                                                <div class="min-read meta-info hide-on-desktop-sm">1 Min Read</div>
                                                <div class="clear"></div>
                                            </div> <!-- end: .meta --> <a
                                                href="https://themes.estudiopatagon.com/wordpress/groovy/author/admin/"
                                                title="Author: Jonathan Doe"
                                                class="author meta-info hide-on-mobile hide-on-tablet hide-on-desktop-sm loaded">
                                                <span class="author-image cover lazy loaded"
                                                    style="background-image: url(&quot;https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2023/01/avatar-1.jpg&quot;);"></span>
                                                <span class="author-name">Jonathan Doe</span> </a>
                                        </div>
                                    </footer>
                                </div>
                                <div class="clear"></div>
                                <div class="epcl-category-overlay"></div>
                            </article>
                        </div> <!-- end: .articles -->
                        <div class="separator last hide-on-tablet hide-on-mobile"></div>
                        <div class="clear"></div> <!-- start: .epcl-pagination -->
                        <div class="epcl-pagination section">
                            <div class="nav"> <span class="page-number"> Page 1 of 2 </span> <a
                                    href="https://themes.estudiopatagon.com/wordpress/groovy/author/admin/page/2/"
                                    class="epcl-button secondary small" data-title="Next">Next</a></div>
                        </div> <!-- end: .epcl-pagination -->
                    </div> <!-- end: .center --> <!-- start: #sidebar -->
                    <%- include('../partials/aside.ejs') %>
                    <!-- end: #sidebar -->
                </div> <!-- end: .content-wrapper -->
                <div class="clear"></div>
            </div>
        </div> <!-- end: .grid-container -->
    </div> <!-- end: .content-wrapper -->
</main>