<section id="author" class="author section bg-box  with-avatar single-author">
    <h3 class="title medium bordered absolute">About the Author</h3>
    <div class="single-wrapper">
        <div class="flex"> <a href="https://themes.estudiopatagon.com/wordpress/groovy/author/admin/"
                class="author-avatar shadow-effect epcl-loader"> <span
                    class="screen-reader-text">Jonathan Doe</span> <span class="author-image cover lazy"
                    data-src="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2023/01/avatar-1.jpg"
                    style="background-image: url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==&quot;);"></span>
            </a>
            <div class="right">
                <h4 class="title author-name underline-effect"> <a
                        href="https://themes.estudiopatagon.com/wordpress/groovy/author/admin/">Jonathan
                        Doe</a></h4>
                <p class="position">Founder &amp; Editor</p>
                <div class="social"> <a href="https://twitter.com/wordpress"
                        class="twitter tooltip tooltipstered" target="_blank" rel="nofollow noopener"><i
                            class="fa fa-twitter"></i><span class="screen-reader-text">Follow me on
                            Twitter</span></a> <a href="http://www.facebook.com/estudiopatagon"
                        class="facebook tooltip tooltipstered" target="_blank"
                        rel="nofollow noopener"><i class="fa fa-facebook"></i><span
                            class="screen-reader-text">Follow me on Facebook</span></a> <a
                        href="https://themes.estudiopatagon.com/wordpress/groovy"
                        class="website tooltip tooltipstered" target="_blank" rel="nofollow noopener"><i
                            class="fa fa-globe"></i><span class="screen-reader-text">Website</span></a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="info">
            <p>Hello! My name is Jonathan Doe working from Chile. I create some Ghost and
                Wordpress themes for differents markets, also, i offer live support via our
                ticket system.</p> <a
                href="https://themes.estudiopatagon.com/wordpress/groovy/author/admin/"
                class="epcl-button white small active">View All Articles</a>
        </div>
    </div>
    <div class="author-posts widget widget_epcl_posts_thumbs">
        <h4 class="title usmall">Check latest articles from this author:</h4>
        <article class="item">
            <div class="info"> <a
                    href="https://themes.estudiopatagon.com/wordpress/groovy/the-spectacle-before-us-was-indeed-sublime/"
                    class="thumb main-effect epcl-loader"> <span class="screen-reader-text">Jonathan
                        Doe</span> <span class="fullimage cover lazy"
                        data-src="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/09/light-bulb-creative-business-idea-symbol-held-by-hand_53876-127176-1-7-150x150.webp"
                        style="background-image: url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==&quot;);"></span>
                    <span class="epcl-number">1</span> </a>
                <div class="right">
                    <h4 class="title usmall underline-effect"><a
                            href="https://themes.estudiopatagon.com/wordpress/groovy/the-spectacle-before-us-was-indeed-sublime/">The
                            spectacle before us was indeed sublime</a></h4> <time datetime="2019-09-26"
                        class="icon">September 26, 2019</time>
                </div>
            </div>
            <div class="clear"></div>
        </article>
        <article class="item">
            <div class="info"> <a
                    href="https://themes.estudiopatagon.com/wordpress/groovy/far-far-away-behind-the-word-mountains/"
                    class="thumb main-effect epcl-loader"> <span class="screen-reader-text">Jonathan
                        Doe</span> <span class="fullimage cover lazy"
                        data-src="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/08/job252-nook-28-150x150.webp"
                        style="background-image: url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==&quot;);"></span>
                    <span class="epcl-number">2</span> </a>
                <div class="right">
                    <h4 class="title usmall underline-effect"><a
                            href="https://themes.estudiopatagon.com/wordpress/groovy/far-far-away-behind-the-word-mountains/">Far
                            far away, behind the word mountains</a></h4> <time datetime="2019-08-15"
                        class="icon">August 15, 2019</time>
                </div>
            </div>
            <div class="clear"></div>
        </article>
        <article class="item">
            <div class="info"> <a
                    href="https://themes.estudiopatagon.com/wordpress/groovy/the-meaning-of-health-has-evolved-over-time/"
                    class="thumb main-effect epcl-loader loaded"> <span
                        class="screen-reader-text">Jonathan Doe</span> <span
                        class="fullimage cover lazy loaded"
                        style="background-image: url(&quot;https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/07/various-types-pumpkins-arranged-height-food-gravity-concept-autumn-halloween-theme_492182-203-1-150x150.webp&quot;);"></span>
                    <span class="epcl-number">3</span> </a>
                <div class="right">
                    <h4 class="title usmall underline-effect"><a
                            href="https://themes.estudiopatagon.com/wordpress/groovy/the-meaning-of-health-has-evolved-over-time/">The
                            meaning of health has evolved over time</a></h4> <time datetime="2019-07-26"
                        class="icon">July 26, 2019</time>
                </div>
            </div>
            <div class="clear"></div>
        </article>
    </div>
</section> <!-- end: .author -->