<div id="show-comments" class="epcl-comments section np-bottom"> <!-- start: #comments -->
    <div id="comments" class="section bg-box hosted section have-comments">
        <h3 class="title medium bordered absolute">Comments</h3> <!-- start: .commentlist -->
        <ol class="commentlist">
            <li class="comment even thread-even depth-1 count-1" id="comment-2">
                <div class="author-avatar"><img loading="lazy"
                        src="https://secure.gravatar.com/avatar/26263d3127afcbc9393ba1d98bb510f7?s=120&amp;d=mm&amp;r=g"
                        width="50" height="50" class="avatar" alt="Avatar"></div>
                <div class="right"> <cite class="comment-author"><a
                            href="https://themes.estudiopatagon.com/wordpress/maktub" class="url"
                            rel="ugc">Jonathan Doe</a></cite> <span class="date">on
                        May 16, 2022</span>
                    <div class="clear"></div>
                    <div class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In feugiat
                            dui a velit commodo, in sagittis odio imperdiet. Praesent rutrum,
                            metus et luctus viverra, nisl risus pharetra nisi, at aliquet felis
                            justo et velit.</p>
                    </div> <a rel="nofollow" class="comment-reply-link epcl-button small"
                        href="#comment-2" data-commentid="2" data-postid="829"
                        data-belowelement="comment-2" data-respondelement="respond"
                        data-replyto="Reply to Jonathan Doe"
                        aria-label="Reply to Jonathan Doe">Reply</a>
                </div>
                <div class="clear"></div>
            </li><!-- #comment-## -->
            <li class="comment odd alt thread-odd thread-alt depth-1 count-2" id="comment-3">
                <div class="author-avatar"><img loading="lazy"
                        src="https://secure.gravatar.com/avatar/26263d3127afcbc9393ba1d98bb510f7?s=120&amp;d=mm&amp;r=g"
                        width="50" height="50" class="avatar" alt="Avatar"></div>
                <div class="right"> <cite class="comment-author"><a href="http://estudiopatagon.com"
                            class="url" rel="ugc external nofollow">Steve Doe</a></cite> <span
                        class="date">on May 17, 2022</span>
                    <div class="clear"></div>
                    <div class="text">
                        <p>Demo comment</p>
                    </div> <a rel="nofollow" class="comment-reply-link epcl-button small"
                        href="#comment-3" data-commentid="3" data-postid="829"
                        data-belowelement="comment-3" data-respondelement="respond"
                        data-replyto="Reply to Steve Doe" aria-label="Reply to Steve Doe">Reply</a>
                </div>
                <div class="clear"></div>
                <ul class="children">
                    <li class="comment byuser comment-author-admin bypostauthor even depth-2 count-3"
                        id="comment-5">
                        <div class="author-avatar"><img loading="lazy"
                                src="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2023/01/avatar-1.jpg"
                                width="50" height="50" class="avatar" alt="Avatar"></div>
                        <div class="right"> <cite class="comment-author"><a
                                    href="https://themes.estudiopatagon.com/wordpress/groovy"
                                    class="url" rel="ugc">Jonathan Doe</a></cite> <span class="date">on
                                November 12, 2022</span>
                            <div class="clear"></div>
                            <div class="text">
                                <p>Reply comment</p>
                            </div> <a rel="nofollow" class="comment-reply-link epcl-button small"
                                href="#comment-5" data-commentid="5" data-postid="829"
                                data-belowelement="comment-5" data-respondelement="respond"
                                data-replyto="Reply to Jonathan Doe"
                                aria-label="Reply to Jonathan Doe">Reply</a>
                        </div>
                        <div class="clear"></div>
                    </li><!-- #comment-## -->
                </ul><!-- .children -->
            </li><!-- #comment-## -->
        </ol> <!-- end: .commentlist  -->
        <div id="respond" class="comment-respond">
            <h3 id="reply-title" class="comment-reply-title title small">Leave a Reply <small><a
                        rel="nofollow" id="cancel-comment-reply-link"
                        href="/wordpress/groovy/the-spectacle-before-us-was-indeed-sublime/#respond"
                        style="display:none;">Cancel reply</a></small><span class="border"></span></h3>
            <form action="https://themes.estudiopatagon.com/wordpress/groovy/wp-comments-post.php"
                method="post" id="commentform" class="comment-form"><textarea id="comment"
                    name="comment" aria-required="true" rows="10"
                    placeholder="Comment"></textarea><input class="form-author" name="author"
                    type="text" placeholder="Name" value="" size="30" aria-required="true" required="">
                <input class="form-email" name="email" type="email" placeholder="Email" value=""
                    size="30" aria-required="true" required="">
                <div class="clear"></div> <input class="form-website" name="url" type="text"
                    placeholder="Website" value="" size="30">
                <p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent"
                        name="wp-comment-cookies-consent" type="checkbox" value="yes"> <label
                        for="wp-comment-cookies-consent">Save my name, email, and website in
                        this browser for the next time I comment.</label></p>
                <p class="form-submit"><input name="submit" type="submit" id="submit" class=""
                        value="Post Comment"> <input type="hidden" name="comment_post_ID" value="829"
                        id="comment_post_ID"> <input type="hidden" name="comment_parent"
                        id="comment_parent" value="0"></p>
            </form>
        </div><!-- #respond -->
        <div class="clear"></div>
    </div> <!-- end: #comments -->
    <div class="clear"></div>
</div> <!-- end: .epcl-comments -->