<header id="header" class="minimalist has-sticky-logo" style="height: auto;">
    <div class="">
        <div class="menu-mobile"> <svg class="icon ularge open">
                <use xlink:href="#menu-icon"></use>
            </svg> <svg class="icon ularge close">
                <use xlink:href="#close-icon"></use>
            </svg></div> <!-- start: .menu-wrapper -->
        <div class="menu-wrapper">
            <div class="grid-container">
                <div class="bg-box">
                    <div class="logo"> <a href="https://themes.estudiopatagon.com/wordpress/groovy/"><img
                                src="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2022/11/logo-groovy.png"
                                alt="Groovy" width="170" height="129"></a></div>
                    <div class="logo sticky-logo"> <a href="https://themes.estudiopatagon.com/wordpress/groovy/"><img
                                src="https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2022/11/logo-groovy.png"
                                alt="Groovy" width=""></a></div> <a href="#search-lightbox"
                        class="lightbox epcl-search-button epcl-button dark circle mfp-inline" aria-label="Search"><svg
                            class="icon">
                            <use xlink:href="#search-icon"></use>
                        </svg></a> <!-- start: .main-nav -->
                    <nav class="main-nav">
                        <ul id="menu-header-1" class="menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-67"
                                onclick=""><a href="#">Home</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-492"
                                        onclick=""><a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/home-posts-slider/">Home
                                            Posts Slider</a>
                                        <ul class="sub-menu">
                                            <li
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-641">
                                                <a
                                                    href="https://themes.estudiopatagon.com/wordpress/groovy/home-posts-slider/">Posts
                                                    Slider (Solid Border)</a></li>
                                            <li
                                                class="shadow-mode menu-item menu-item-type-post_type menu-item-object-page menu-item-775">
                                                <a
                                                    href="https://themes.estudiopatagon.com/wordpress/groovy/home-posts-slider/?epcl-shadow-mode=1">Posts
                                                    Slider (Soft Shadow)</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-69"
                                        onclick=""><a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/home-posts-carousel/">Home
                                            Posts Carousel</a>
                                        <ul class="sub-menu">
                                            <li
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-632">
                                                <a
                                                    href="https://themes.estudiopatagon.com/wordpress/groovy/home-posts-carousel/">Posts
                                                    Carousel (Solid Border)</a></li>
                                            <li
                                                class="shadow-mode menu-item menu-item-type-post_type menu-item-object-page menu-item-776">
                                                <a
                                                    href="https://themes.estudiopatagon.com/wordpress/groovy/home-posts-carousel/?epcl-shadow-mode=1">Posts
                                                    Carousel (Soft Shadow)</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-71"
                                        onclick=""><a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/home-category-carousel/">Home
                                            Category Carousel</a>
                                        <ul class="sub-menu">
                                            <li
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-634">
                                                <a
                                                    href="https://themes.estudiopatagon.com/wordpress/groovy/home-category-carousel/">Category
                                                    Carousel (Solid Border)</a></li>
                                            <li
                                                class="shadow-mode menu-item menu-item-type-post_type menu-item-object-page menu-item-777">
                                                <a
                                                    href="https://themes.estudiopatagon.com/wordpress/groovy/home-category-carousel/?epcl-shadow-mode=1">Category
                                                    Carousel (Soft Shadow)</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-540"
                                        onclick=""><a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/home-minimal/">Home
                                            Minimal</a>
                                        <ul class="sub-menu">
                                            <li
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-778">
                                                <a
                                                    href="https://themes.estudiopatagon.com/wordpress/groovy/home-minimal/">Minimal
                                                    (Solid Border)</a></li>
                                            <li
                                                class="shadow-mode menu-item menu-item-type-post_type menu-item-object-page menu-item-779">
                                                <a
                                                    href="https://themes.estudiopatagon.com/wordpress/groovy/home-minimal/?epcl-shadow-mode=1">Minimal
                                                    (Soft Shadow)</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-672"
                                        onclick=""><a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/home-classic-with-sidebar/">Home
                                            Classic with Sidebar</a>
                                        <ul class="sub-menu">
                                            <li
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-780">
                                                <a
                                                    href="https://themes.estudiopatagon.com/wordpress/groovy/home-classic-with-sidebar/">Classic
                                                    Sidebar (Solid Border)</a></li>
                                            <li
                                                class="shadow-mode menu-item menu-item-type-post_type menu-item-object-page menu-item-781">
                                                <a
                                                    href="https://themes.estudiopatagon.com/wordpress/groovy/home-classic-with-sidebar/?epcl-shadow-mode=1">Classic
                                                    Sidebar (Soft Shadow)</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-68"
                                        onclick=""><a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/home-3-columns/">Home
                                            Masonry</a>
                                        <ul class="sub-menu">
                                            <li
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-782">
                                                <a
                                                    href="https://themes.estudiopatagon.com/wordpress/groovy/home-3-columns/">Masonry
                                                    (Solid Border)</a></li>
                                            <li
                                                class="shadow-mode menu-item menu-item-type-post_type menu-item-object-page menu-item-783">
                                                <a
                                                    href="https://themes.estudiopatagon.com/wordpress/groovy/home-3-columns/?epcl-shadow-mode=1">Masonry
                                                    (Soft Shadow)</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-156"
                                        onclick=""><a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/home-grid-with-sidebar/">Home
                                            Grid with Sidebar</a>
                                        <ul class="sub-menu">
                                            <li
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-784">
                                                <a
                                                    href="https://themes.estudiopatagon.com/wordpress/groovy/home-grid-with-sidebar/">Grid
                                                    Sidebar (Solid Border)</a></li>
                                            <li
                                                class="shadow-mode menu-item menu-item-type-post_type menu-item-object-page menu-item-785">
                                                <a
                                                    href="https://themes.estudiopatagon.com/wordpress/groovy/home-grid-with-sidebar/?epcl-shadow-mode=1">Grid
                                                    Sidebar (Soft Shadow)</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-70"><a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/home-advertising-area/">Home
                                            Advertising Area</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-222"><a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/home-3-columns/?ads=1">Advertise
                                            between posts</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-580"><a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/?amp">AMP Home</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-47"
                                onclick=""><a href="#">Header Styles</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48"><a
                                            href="?header=minimalist">Minimalist Style</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-49"><a
                                            href="?header=classic">Classic Style</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-50"><a
                                            href="?header=notice">Notice on Top</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-51"><a
                                            href="?header=advertising">Advertising Area</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-84"
                                onclick=""><a href="#">Post Features</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-87"
                                        onclick=""><a href="#">Post Formats</a>
                                        <ul class="sub-menu">
                                            <li
                                                class="menu-item menu-item-type-post_type menu-item-object-post menu-item-762">
                                                <a
                                                    href="https://themes.estudiopatagon.com/wordpress/groovy/far-far-away-behind-the-word-mountains/">Standard</a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-post_type menu-item-object-post menu-item-138">
                                                <a
                                                    href="https://themes.estudiopatagon.com/wordpress/groovy/5-spanish-cities-that-will-make-you-fall-in-love-with-architecture/">Gallery</a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-post_type menu-item-object-post menu-item-135">
                                                <a
                                                    href="https://themes.estudiopatagon.com/wordpress/groovy/best-smartphones-2019-the-very-best-phones/">Video</a>
                                            </li>
                                            <li
                                                class="menu-item menu-item-type-post_type menu-item-object-post menu-item-136">
                                                <a
                                                    href="https://themes.estudiopatagon.com/wordpress/groovy/top-10-old-rock-songs-from-the-80s/">Audio</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-764">
                                        <a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/musical-improvisation-is-the-creation-of-spontaneous-music/">Fullwidth
                                            with Sidebar</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1014">
                                        <a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/top-10-old-rock-songs-from-the-80s/">Fullwidth
                                            no Sidebar</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-763">
                                        <a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/far-far-away-behind-the-word-mountains/">Vertical
                                            with Sidebar</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-367">
                                        <a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/the-meaning-of-health-has-evolved-over-time/">Vertical
                                            no Sidebar</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-1015">
                                        <a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/customizing-your-brand-and-design-settings/">Classic
                                            with Sidebar</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-141">
                                        <a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/these-are-the-10-best-restaurants-in-the-world/">Post
                                            Pagination</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-581"><a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/far-far-away-behind-the-word-mountains/?amp">AMP
                                            Article</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-46"
                                onclick=""><a
                                    href="https://themes.estudiopatagon.com/wordpress/groovy/category/lifestyle/"
                                    data-cat-id="3">#Tag</a>
                                <ul class="sub-menu">
                                    <li
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-592">
                                        <a href="https://themes.estudiopatagon.com/wordpress/groovy/category/lifestyle/"
                                            data-cat-id="3">Lifestyle</a></li>
                                    <li
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-593">
                                        <a href="https://themes.estudiopatagon.com/wordpress/groovy/category/music/"
                                            data-cat-id="4">Music</a></li>
                                    <li
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-594">
                                        <a href="https://themes.estudiopatagon.com/wordpress/groovy/category/travel/"
                                            data-cat-id="6">Travel</a></li>
                                    <li
                                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-774">
                                        <a href="https://themes.estudiopatagon.com/wordpress/groovy/category/technology/"
                                            data-cat-id="5">Technology</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-39"
                                onclick=""><a href="#">Features</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/features/">Style
                                            Guide</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33"><a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/features/gutenberg-blocks/">Gutenberg
                                            Blocks</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35"><a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/features/buttons/">Buttons</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37"><a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/features/accordions-and-tabs/">Accordions
                                            and Tabs</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-34"><a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/features/columns/">Columns</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36"><a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/features/alert-messages/">Alert
                                            Messages</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-552"><a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/author/admin/">Author
                                            Page</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-41"><a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/404">404</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1106 last-menu-item"
                                onclick=""><a href="https://themes.estudiopatagon.com/wordpress/groovy/shop/">Shop</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1107">
                                        <a href="https://themes.estudiopatagon.com/wordpress/groovy/shop/">Shop</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1105">
                                        <a href="https://themes.estudiopatagon.com/wordpress/groovy/cart/">Cart</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1103">
                                        <a href="https://themes.estudiopatagon.com/wordpress/groovy/my-account/">My
                                            account</a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1104">
                                        <a
                                            href="https://themes.estudiopatagon.com/wordpress/groovy/checkout/">Checkout</a>
                                    </li>
                                </ul>
                            </li>
                            <li
                                class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-43 current_page_item menu-item-45">
                                <a href="https://themes.estudiopatagon.com/wordpress/groovy/contact/"
                                    aria-current="page">Contact</a></li>
                            <li class="search-menu-item hide-on-mobile hide-on-tablet"><a href="#search-lightbox"
                                    class="lightbox mfp-inline" aria-label="Search"><svg class="icon dark">
                                        <use xlink:href="#search-icon"></use>
                                    </svg></a></li>
                        </ul>
                        <div class="hide-on-mobile hide-on-tablet epcl-social-buttons fill-color"> <a href="#"
                                class=" facebook" target="_blank" aria-label="Facebook" rel="nofollow noopener"><i
                                    class="fa fa-facebook"></i></a> <a href="#" class=" twitter" target="_blank"
                                aria-label="Twitter" rel="nofollow noopener"><i class="fa fa-twitter"></i></a> <a
                                href="#" class=" instagram" target="_blank" aria-label="Instagram"
                                rel="nofollow noopener"><i class="fa fa-instagram"></i></a> <a
                                href="http://estudiopatagon.com/feed" class=" rss" target="_blank" aria-label="RSS"
                                rel="nofollow noopener"><i class="fa fa-rss"></i></a></div>
                    </nav> <!-- end: .main-nav -->
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div> <!-- end: .menu-wrapper -->
        <div class="clear"></div>
    </div>
</header>