<nav class="mobile main-nav hide-on-desktop-lg">
    <ul id="menu-header" class="menu">
        <li id="menu-item-46"
            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-46"
            onclick=""><a href="https://themes.estudiopatagon.com/wordpress/groovy/category/lifestyle/"
                data-cat-id="3">#Tag</a>
            <ul class="sub-menu">
                <li id="menu-item-592"
                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-592"><a
                        href="https://themes.estudiopatagon.com/wordpress/groovy/category/lifestyle/"
                        data-cat-id="3">Lifestyle</a></li>
                <li id="menu-item-593"
                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-593"><a
                        href="https://themes.estudiopatagon.com/wordpress/groovy/category/music/"
                        data-cat-id="4">Music</a></li>
                <li id="menu-item-594"
                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-594"><a
                        href="https://themes.estudiopatagon.com/wordpress/groovy/category/travel/"
                        data-cat-id="6">Travel</a></li>
                <li id="menu-item-774"
                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-774"><a
                        href="https://themes.estudiopatagon.com/wordpress/groovy/category/technology/"
                        data-cat-id="5">Technology</a></li>
            </ul>
        </li>
        <li id="menu-item-1106"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1106"
            onclick=""><a href="/">Account</a>
            <ul class="sub-menu">
                <li id="menu-item-1107" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1107">
                    <a href="/admin">Login</a></li>
                <li id="menu-item-1105" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1105">
                    <a href="Signup">Signup</a></li>
                <li id="menu-item-1103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1103">
                    <a href="/my-account">My account</a></li>
            </ul>
        </li>
        <li id="menu-item-45"
            class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-43 current_page_item menu-item-45">
            <a href="https://themes.estudiopatagon.com/wordpress/groovy/contact/" aria-current="page">Contact</a></li>
    </ul>
</nav>