<section class="siblings" id="epcl-other-stories">
    <article class="prev section bg-box">
        <h4 class="title bordered medium absolute">Previous Article</h4> <a
            href="https://themes.estudiopatagon.com/wordpress/groovy/far-far-away-behind-the-word-mountains/"
            class="thumb shadow-effect epcl-loader hide-on-mobile hide-on-tablet epcl-loader loaded"> <span
                class="screen-reader-text">The spectacle before us was indeed sublime</span> <span
                class="fullimage cover lazy loaded"
                style="background-image: url(&quot;https://themes.estudiopatagon.com/wordpress/groovy/wp-content/uploads/2019/08/job252-nook-28-768x768.webp&quot;);"></span>
        </a>
        <div class="info">
            <div class="tags hide-on-mobile hide-on-tablet"> <a
                    href="https://themes.estudiopatagon.com/wordpress/groovy/category/lifestyle/"
                    class="tag-link-3"><svg>
                        <use xlink:href="#tag-decoration"></use>
                    </svg>Lifestyle</a></div>
            <h4 class="title no-margin underline-effect"><a
                    href="https://themes.estudiopatagon.com/wordpress/groovy/far-far-away-behind-the-word-mountains/">Far
                    far away, behind the word mountains</a></h4>
            <div class="meta small"> <time class="meta-info" datetime="2019-08-15">August 15, 2019</time>
                <!--<div class="min-read meta-info hide-on-desktop-sm"><span class="count">1</span> Min Read</div> -->
                <div class="min-read meta-info hide-on-desktop-sm">1 Min Read</div>
            </div>
        </div>
    </article>
    <div class="clear"></div>
</section>