<form class="form contact-form" action="/step1">
    <div>
      <label class="form-label" for="name">MongoDb URI</label>
      <input class="form-control" id="name" name="name" type="text" required />
    </div>
    <div>
      <label class="form-label" for="email">JWT SECRET</label>
      <input class="form-control" id="email" name="email" type="email" required />
    </div>
   <div>
      <button class="button" type="submit">Next</button>
    </div>
</form>